<% form_with model: reservation do |form| %>
  <div>
    <p>Your Name: <%= current_user.name %></p>
    <p>Property Location: Room City, Room State</p>
    <p><%= form.label :start_date, "Check-in Date:" %>
    <%= form.date_field :start_date %></p>
    <p><%= form.label :end_date, "Check-out Date:" %>
    <%= form.date_field :end_date %></p>
    <p> Price per night: VAR (Rooms Table) </p>
    <p><strong>Total Cost:</strong> CALCULATE (Price * # Nights)</p>
  </div>
  <div>
    <%= form.submit "Complete Reservation" %>
  </div>

  <!-- After confirmation, show a link to leave a review -->
<% end%>