<h1>Reserve this room</h1>

<%= form_with method: "post", url: "/reservations" do |form| %>
  <div>
    <p><%= form.label :start_date, "Check-in Date:" %>
    <%= form.date_field :start_date %></p>
    <p><%= form.label :end_date, "Check-out Date:" %>
    <%= form.date_field :end_date %></p>
    <p> Price per night: VAR (Rooms Table) </p>
    <p><strong>Total Cost:</strong> CALCULATE (Price * # Nights)</p>
  </div>
  <div>
    <%= form.submit "Complete Reservation" %>
  </div>

<% end%> 
