<h1>All Rooms</h1>

<!--If time allows add user filter for city, state, price-->


<% @rooms.each do |room|%>
  <!--Image of Room-->
  <img src="<%=RoomImage.find(room.id).url%>" width=300 height=auto>

  <!--Basic Description of Room-->
  <h3>City: <%=room.city%><h3>
  <h3>State: <%=room.state%><h3>
  <p>Description</p> 
  <p><%=room.description%><p>
  <p>Price: $<%=room.price%> per night<p>

  <!--Click to go to show action-->
  <p><a href="/rooms/<%=room.id%>">More Details</p></a>
<%end%>

<div>
 <%= link_to "Logout", logout_path%>
 </div>