<h1>Room Details</h1>

<!---Image of Room-->


<!--Basic Description of Rom-->
<div class="container" style="background-color: lightgrey; border-radius: 10px">
  <img src="<%=RoomImage.find(@room.id).url%>" width=100% height=auto style="border-radius: 10px">
  <div class="row">
    <div class="col">
      <p><%=@room.city%>, <%=@room.state%><p>
    </div>
    <div class="col">
      <p>Price: $<%=@room.price%> per night<p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-8">
          <p><%=@room.description%><p>
        </div>
        <div class ="col-4">
          <!--Display link conditional if user is login in or not-->
          <%if current_user%>
            <p><%= link_to "Make a reservation", reservations_path(room_id: @room.id, price: @room.price) %></p>
          <%else%>
            <p><a href="/login">Login or Sign Up to Reserve</a></P>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  
  </div>
</div>

<!--Room Details-->
<div class="row">
  <div class="col-sm-9">
    <p>Home Type: <%=@room.home_type%> Room Type: <%=@room.room_type%> <p>
    <div class="row">
      <div class="col-8 col-sm-6">
        <p>Occupancy: <%=@room.total_occupancy%><p>
        <p>Bedrooms: <%=@room.total_bedrooms%><p>
      </div>
      <div class="col-4 col-sm-6">
        <p>Bathrooms: <%=@room.total_bathrooms%><p>
      </div>
    </div>
  </div>
</div>


<!--Click to go back to (index action)-->
<p><a href="/rooms/">Back to All Rooms</a></p>


<h1>Reviews</h1>
<p><a href="/reviews/new">Leave a Review</a></p>

<%Reservation.all.each do |reservation|%>
  <%if reservation.room_id == @room.id%>
    <p>Comment: <%=reservation.reviews.first.comment%></p>
    <p>Rating: <%=reservation.reviews.first.rating%></p>
  <%end%>
<%end%>




