<h1>Room Details</h1>

<h3><%=@room.city%><h3>
<h3><%=@room.state%><h3>
<p><%=@room.description%><p>
<p>$<%=@room.price%> per night<p>
<p>Home Type: <%=@room.home_type%><p>
<p>Room Type: <%=@room.room_type%><p>
<p>Occupancy: <%=@room.total_occupancy%><p>
<p>Bedrooms: <%=@room.total_bedrooms%><p>
<p>Bathrooms: <%=@room.total_bathrooms%><p>

<!---Add Section for Images of Room->


<!--Click to go back to (index action)-->
<p><a href="/rooms/">Back to All Rooms</p></a>
<%= link_to "Make a reservation", reservations_path, params: {room_id: @room.id} %>